img.gs-gm { background-position: -0px 0; }
img.gs-bazar { background-position: -0px 0; }
img.gs-arena { background-position: -0px 0; }
img.gs-anime { background-position: -0px 0; }
img.gs-cine { background-position: -0px 0; }
img.gs-deportes { background-position: -0px 0; }
img.gs-desarrollo { background-position: -0px 0; }
img.gs-estudiantes { background-position: -0px 0; }
img.gs-hardware { background-position: -0px 0; }
img.gs-software { background-position: -0px 0; }
img.gs-inet { background-position: -0px 0; }
img.gs-musica { background-position: -0px 0; }
img.gs-literatura { background-position: -0px 0; }
img.gs-wii { background-position: -0px 0; }
img.gs-ut { background-position: -0px 0; }
img.gs-rj { background-position: -0px 0; }
img.gs-th { background-position: -0px 0; }
